{% extends 'base.html' %}

{% load i18n image_tags %}
{% load static %}

{% block navigation %}{% endblock %}
{% block breadcrumbs_container %}{% endblock %}

{% block content %}
<article class="export pt-4">
    <div class="float-right" style="font-size: x-large;">
        <a href="http://instagram.com/eefbakt/" class="link-unstyled">
            <img src="{% static 'images/glyph-logo_May2016.png' %}" class="icon-img"> @eefbakt
        </a>
    </div>
    <h1>{% block title %}{% endblock %}</h1>

    {% block top_content %}{% endblock %}

    <div class="row">
        <aside class="col-md-5 col-sm-12">

            {% block left_sidebar %}{% endblock %}

            <div class="media pt-4">
                <img class="mr-3 rounded-circle align-self-center" src="{% static 'images/instagram_profile.jpg' %}"
                    alt="@eefbakt" height="64px" width="auto">
                <div class="media-body">
                    <blockquote class="text-muted font-italic m-0 border-0">
                        <p class="mb-0">Leuk dat je met mijn recept aan de slag gaat, ik ben benieuwd naar het
                            resultaat!</p>
                        <footer class="blockquote-footer pt-2">
                            Eveline
                        </footer>
                    </blockquote>
                </div>
            </div>

        </aside>
        <div class="col">
            {% block right_content %}{% endblock %}
        </div>
    </div>
</article>
{% endblock %}