{% extends 'base.html' %}

{% load i18n image_tags %}
{% load static %}

{% block navigation %}{% endblock %}
{% block breadcrumbs_container %}{% endblock %}

{% block content %}
<article class="export pt-4">
    <div class="float-right" style="font-size: x-large;">
        <a href="http://instagram.com/eefbakt/" class="link-unstyled">
            <img src="{% static 'images/glyph-logo_May2016.png' %}" class="icon-img"> @eefbakt
        </a>
    </div>
    <h1>{% block title %}{% endblock %}</h1>

    <div class="mb-2">
        {% block top_content %}{% endblock %}
    </div>
    <div>
        <aside class="col-4 float-left" style="width: 33%; page-break-inside: auto;">
            {% block left_sidebar %}{% endblock %}

            <div class="media pt-4">
                <img style="max-width: 64px; max-height: 64px;" class="mr-3 rounded-circle align-self-center"
                    src="{% static 'images/instagram_profile.jpg' %}" alt="@eefbakt">
                <div class="media-body">
                    <blockquote class="text-muted font-italic m-0 border-0">
                        <p class="mb-0">Leuk dat je met mijn recept aan de slag gaat, ik ben benieuwd naar het
                            resultaat!</p>
                        <footer class="blockquote-footer pt-2">
                            Eveline
                        </footer>
                    </blockquote>
                </div>
            </div>

        </aside>
        <div class="col-8 offset-4" style="width: 66%; page-break-inside: auto;">
            {% block right_content %}{% endblock %}
        </div>
    </div>
</article>
{% endblock %}