{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'data:product-list' %}">{% translate 'Producten' %}</a></li>
<li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
    <h1>{{ object.name }}</h1>
    <div class="btn-group ml-5 d-print-none">
        <a class="btn btn-outline-secondary btn-sm"
            href="{% url 'data:product-update' object.pk %}">{% translate 'Wijzig' %}</a>
        <a class="btn btn-outline-danger btn-sm"
            href="{% url 'data:product-delete' object.pk %}">{% translate 'Verwijder' %}</a>
    </div>
</div>
<div>
    <h3>Prices</h3>
    <ul>
        {% for price in object.prices.all %}
        <li>
            {% blocktranslate with normalized_price=price.normalized_price|floatformat:"-3" unit=price.unit store=price.store|default:'<i>Unkown</i>' price=price.price amount=price.amount|floatformat:"-2" %}
            € {{ normalized_price }} per {{ unit }} ({{ store }}: {{ amount }} {{ unit }} voor € {{ price }})
            {% endblocktranslate %}
        </li>
        {% empty %}
        <li><i>No prices known</i></li>
        {% endfor %}
    </ul>

    <h3>Conversions</h3>
    <table class="table table-sm d-inline text-right">
        {% for from_unit, to_units in conversions.items %}
        <tr>
            <th>1 {{ from_unit.short_name }} </th>
            {% for to_unit, scale in to_units.items %}
            <td>{{ scale|floatformat:'-2'|default:'-' }} {{ to_unit.short_name }}</td>
            {% endfor %}
            </ul>
        </tr>
        {% empty %}
        <tr>
            <td>{% translate 'Geen prijzen bekend' %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}