{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'data:recipe-list' %}">{% trans 'Recipes' %}</a></li>
{% if not object %}
<li class="breadcrumb-item active">{% trans "New recipe" %}</li>
{% else %}
<li class="breadcrumb-item"><a href="{% url 'data:recipe-detail' object.pk %}">{{ object.name }}</a></li>
</li>
<li class="breadcrumb-item active">Edit recipe</li>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ object.name|default:"New recipe" }}</h1>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form|crispy }}


  {% for name, formset in inlines.items %}
  <div class="inline-formset select2">
    {% crispy formset formset_helper %}
  </div>
  {% endfor %}

  <input class="btn btn-primary" type="submit" value="{% if object %}Update{% else %}Create{% endif %}">
  <a class="btn btn-primary" href="{{ object.get_absolute_url }}">Cancel</a>
</form>

{% endblock %}