{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'data:recipe-list' %}">{% trans 'Recipes' %}</a></li>
<li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
  <h1>{{ object.name }}</h1>
  <div class="btn-group ml-5 d-print-none">
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'data:recipe-update' object.pk %}">{% trans "Edit" %}</a>
    <a class="btn btn-outline-danger btn-sm" href="{% url 'data:recipe-delete' object.pk %}">{% trans "Delete" %}</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="border rounded-lg p-2 bg-light">
      <h3>{% trans 'Ingredients' %}</h3>
      {% include './snippets/recipe_ingredients.html' with ingredient_tree=transformed_object %}
    </div>
    {% for image in object.images.all %}
    <div class="m-4">
      <img src="{{ image.image.url }}" alt="{{ image.name }}" class="img-thumbnail image-square-thumbnail">
    </div>
    {% endfor %}
  </div>
  <div class="col">
    {{ object.description|default:"No description"|linebreaks }}
  </div>
</div>
{% endblock %}