{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'data:session-list' %}">{% trans 'Sessions' %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'data:session-detail' object.pk %}"
        title="{{ object.title }}">{{ object.title|truncatewords:4 }}</a></li>
<li class="breadcrumb-item active">{% trans 'Ingredients' %}</li>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
    <h1></h1>
</div>
<small class="text-muted"></small>
<div class="col-lg-6 offset-lg-3">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ object.session_date|date }}</h6>
        </div>
        <div class="px-4">
            <table class="ingredient-table">
                <tbody>
                    {% for ingredient in ingredients %}
                    <tr>
                        <td class="text-right pr-1">{{ ingredient.amount|floatformat:"-2" }}</td>
                        <td class="pr-2 pl-1">{{ ingredient.unit.short_name }}</td>
                        <td><a href="{{ ingredient.product.get_absolute_url }}">{{ ingredient.name }}</a> </td>
                        <td class="d-flex">
                            {% if ingredient.price %}
                            <span class="flex-grow-1">€</span>
                            <span>{{ ingredient.price|floatformat:"2" }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if ingredients_total %}
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">Totaal</td>
                        <td class="d-flex border-top">
                            <span class="flex-grow-1">€</span>
                            <span>{{ ingredients_total|floatformat:"2" }}</span>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}