{% extends './base_export.html' %}

{% load i18n image_tags %}
{% load static %}

{% block navigation %}{% endblock %}
{% block breadcrumbs_container %}{% endblock %}

{% block title %}{{ object.title }}{% endblock %}

{% block top_content %}
<div style="margin-top:-.5rem;">
    <small class="text-muted">
        <time datetime="{{ object.session_date|date:'c' }}">
            {{ object.session_date|date }}
        </time>
    </small>
</div>
{% endblock %}

{% block left_sidebar %}
<div class="ingredients-box">
    <h3>{% translate 'Ingrediënten' %}</h3>
    {% with url='data/snippets/session_ingredients.html' %}
    {% include url with recipe=session_recipe reftype="session:detail" refid=object.pk %}
    {% endwith %}
</div>
{% endblock %}

{% block right_content %}
<div class="d-flex overflow-auto">
    {% for image_obj in object.images.all|slice:":3" %}
    <div class="p-2" style="width: 33%;" class="border">
        {% with image=image_obj.alternates.last|default:image_obj %}
        <img src="{{ image.image.url }}" alt="{{ image.name }}" class="img-fluid">
        {% endwith %}
    </div>
    {% endfor %}
</div>
<hr>

{% if object.description %}
<section class="mb-4">
    {{ object.description|linebreaks }}
</section>
<hr>
{% endif %}

{% for object in session_recipe.base_recipes %}
{% for recipe in object %}
<section>
    <div><b>{{ recipe.name }}</b></div>
    <p class="my-3">{{ recipe.description|default:"..."|linebreaks }}
    </p>
</section>
{% endfor %}
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}

{% if object.recipe_description %}
<hr>
<section>
    <div><b>Extra</b></div>
    <p class="my-3">{{ object.recipe_description|linebreaks }}
    </p>
</section>
{% endif %}
{% endblock %}