{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
{% if not object %}
<li class="breadcrumb-item active">{% translate "New session" %}</li>
{% else %}
<li class="breadcrumb-item">
  <a href="{% url 'data:session-detail' object.pk %}" title="{{ object.title }}">
    {{ object.title|truncatewords:4 }}
  </a>
</li>
<li class="breadcrumb-item active">{% translate 'Wijzig' %} session</li>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ object.title|default:"New session" }}</h1>

<form method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <div class="form-row">
    <div class="col-12 col-md-6 ">
      {{ form.title|as_crispy_field }}
    </div>
    <div class="col-12 col-md-2">
      {{ form.kind|as_crispy_field }}
    </div>
    <div class="col-12 col-md-4">
      {{ form.session_date|as_crispy_field }}
    </div>
  </div>
  {{ form.description|as_crispy_field }}
  {{ form.recipe_description|as_crispy_field }}


  {% for name, formset in inlines.items %}
  <div class="inline-formset select2">
    {% crispy formset formset_helper %}
  </div>
  {% endfor %}

  <input class="btn btn-primary" type="submit" value="{% if object %}Update{% else %}Create{% endif %}">
  <a class="btn btn-primary" href="{{ object.get_absolute_url }}">Cancel</a>
</form>

{% endblock %}