{% extends 'base.html' %}

{% load i18n image_tags %}

{% block breadcrumbs %}
{{ block.super }}
{# <li class="breadcrumb-item"><a href="{% url 'data:index' %}">{% translate 'Data' %}</a></li> #}
<li class="breadcrumb-item"><a href="{% url 'data:session-list' %}">{% translate 'Sessies' %}</a></li>
<li class="breadcrumb-item active" title="{{ object.title }}">{{ object.title|truncatewords:4 }}</li>
{% endblock %}

{% block content %}
<article>
    {% block actions %}
    <div class="btn-group d-print-none float-right">
        <a href="{%url 'data:session-export' object.pk%}"
            class="btn btn-sm btn-outline-primary">{% translate 'Export' %}</a>
        <a href="{%url 'data:session-ingredients' object.pk%}"
            class="btn btn-sm btn-outline-primary">{% translate 'Grocery list' %}</a>
        <a class="btn btn-outline-success btn-sm"
            href="{% url 'data:session-update' object.pk %}">{% translate 'Wijzig' %}</a>
        <a class="btn btn-outline-secondary btn-sm"
            href="{% url 'data:session-duplicate' object.pk %}">{% translate 'Dupliceer' %}</a>
        <a class="btn btn-outline-danger btn-sm"
            href="{% url 'data:session-delete' object.pk %}">{% translate 'Verwijder' %}</a>
    </div>
    {% endblock %}

    <h1>{{ object.title }}</h1>
    <div>
        <small class="text-muted">
            <time datetime="{{ object.session_date|date:'c' }}">
                {{ object.session_date|date }}
            </time>
        </small>
    </div>

    <section class="mb-4">
        {{ object.description|linebreaks }}
    </section>

    <div class="d-flex overflow-auto">
        {% for image in object.images.all %}
        <div class="p-2" style="max-width: 33%;">
            <a href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" srcset="{{ image|srcset }}" sizes="20rem" alt="{{ image.name }}"
                    width="{{ image.width|default:25 }}px" height="{{ image.height|default:25 }}px"
                    class="img-thumbnail">
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <aside class="col-md-5 col-sm-12">

            <div class="border rounded-lg p-2 bg-light">
                <h3>{% translate 'Ingrediënten' %}</h3>
                {% include 'data/snippets/session_ingredients.html' with recipe=session_recipe reftype="session:detail" refid=object.pk  %}
            </div>
        </aside>
        <div class="col">
            {% for object in session_recipe.base_recipes %}
            <section>
                {% for recipe in object %}
                <div><b>{{ recipe.name }}</b></div>
                <p class="my-3">{{ recipe.description|default:"..."|linebreaks }}
                </p>
                {% endfor %}
            </section>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}

            {% if object.recipe_description %}
            <hr>
            <section>
                <div><b>Extra</b></div>
                <p class="my-3">{{ object.recipe_description|linebreaks }}
                </p>
            </section>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}