{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
{# <li class="breadcrumb-item"><a href="{% url 'data:index' %}">{% trans 'Data' %}</a></li> #}
<li class="breadcrumb-item"><a href="{% url 'baking:session-list' %}">{% trans 'Sessions' %}</a></li>
<li class="breadcrumb-item active" title="{{ object.title }}">{{ object.title|truncatewords:4 }}</li>
{% endblock %}

{% block content %}
<article>
    <div class="btn-group d-print-none float-right">
        <a href="{%url 'baking:session-ingredients' object.pk%}"
            class="btn btn-sm btn-outline-primary">{% trans 'Grocery list' %}</a>
        <a class="btn btn-outline-success btn-sm"
            href="{% url 'baking:session-update' object.pk %}">{% trans "Edit" %}</a>
        <a class="btn btn-outline-secondary btn-sm"
            href="{% url 'baking:session-duplicate' object.pk %}">{% trans "Duplicate" %}</a>
        <a class="btn btn-outline-danger btn-sm"
            href="{% url 'baking:session-delete' object.pk %}">{% trans "Delete" %}</a>
    </div>

    <h1>{{ object.title }}</h1>
    <div>
        <small class="text-muted">
            <time datetime="{{ object.session_date|date:'c' }}">
                {{ object.session_date|date }}
            </time>
        </small>
    </div>

    <section class="mb-4">
        {{ object.description|linebreaks }}
    </section>

    <div class="d-flex">
        {% for image in object.images.all %}
        <div class="p-2">
            <img src="{{ image.image.url }}" alt="{{ image.name }}" width="{{ image.width|default:25 }}px"
                height="{{ image.height|default:25 }}px" class="img-thumbnail image-square-thumbnail">
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <aside class="col-md-5 col-sm-12">

            <div class="border rounded-lg p-2 bg-light">
                <h3>{% trans 'Ingredients' %}</h3>
                {% include 'baking/snippets/session_ingredients.html' with recipe=session_recipe  %}
            </div>
        </aside>
        <div class="col">
            {% for object in session_recipe.base_recipes %}
            <section>
                {% for recipe in object %}
                <div><b>{{ recipe.recipe.name }}</b></div>
                <p class="my-3">{{ recipe.recipe.description|default:"..."|linebreaks }}
                </p>
                {% endfor %}
            </section>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}

            {% if object.recipe_description %}
            <hr>
            <section>
                <div><b>Extra</b></div>
                <p class="my-3">{{ object.recipe_description|linebreaks }}
                </p>
            </section>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}