{% extends 'base.html' %}

{% load i18n image_tags %}

{% block breadcrumbs %}
{{ block.super }}
{# <li class="breadcrumb-item"><a href="{% url 'data:index' %}">{% trans 'Data' %}</a></li> #}
<li class="breadcrumb-item active">{% trans 'Sessions' %}</li>
{% endblock %}

{% block content %}
<div class="list-group">
    <a class="list-group-item" href="{% url 'baking:session-create' %}">
        {% trans "+ Add session" %}
    </a>
    {% for object in object_list %}
    <a href="{{ object.get_absolute_url }}"
        class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ object.title }}</h5>
            <small>{{ object.session_date|date }}</small>
        </div>
        <div class="d-flex w-100">
            {% for image in object.images.all|slice:"0:1" %}
            <div class="p-2">
                <img src="{{ image.image.url }}" srcset="{{ image|srcset }}" sizes="12rem" alt="{{ image.name }}"
                    width="{{image.image.width}}px" height="{{image.image.height}}px"
                    class="img-thumbnail image-square-thumbnail-md">
            </div>
            {% endfor %}
            <div class="mb-1 flex-grow-1">{{ object.description|linebreaks|truncatewords_html:30 }}
            </div>
            {% comment %}
            <small>Donec id elit non mi porta.</small>
            {% endcomment %}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}