{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'baking:session-list' %}">{% trans 'Sessions' %}</a></li>
{% if not object %}
<li class="breadcrumb-item active">{% trans "New session" %}</li>
{% else %}
<li class="breadcrumb-item"><a href="{% url 'baking:session-detail' object.pk %}"
    title="{{ object.title }}">{{ object.title|truncatewords:4 }}</a></li>
<li class="breadcrumb-item active">{% trans 'Edit' %} session</li>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ object.title|default:"New session" }}</h1>

<form method="post" novalidate>
  {% csrf_token %}
  <div class="form-row">
    <div class="col-8">
      {{ form.title|as_crispy_field }}
    </div>
    <div class="col-4">
      {{ form.session_date|as_crispy_field }}
    </div>
  </div>
  {{ form.description|as_crispy_field }}

  <div class="inline-formset select2">
    {% crispy recipes_formset formset_helper %}
  </div>
  <input class="btn btn-primary" type="submit" value="{% if object %}Update{% else %}Create{% endif %}">
  <a class="btn btn-primary" href="{{ object.get_absolute_url }}">Cancel</a>
</form>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  $(() => {
    try {
      let recipe_formset = document.getElementById('recipe-inline-formset_table');
      let tbody = Array.from(recipe_formset.children).find((ele) => ele.tagName.toLowerCase() == 'tbody');

      function onSorted(ev) {
        // Update the order input with the current value
        let tbody = ev.to
        Array.from(tbody.children)
          .map((ele, idx) => ele.querySelector('input[id$="-ORDER"]:not([id*="__prefix__"])'))
          .filter(Boolean)
          .forEach((ele, idx) => {
            if (!!ele.value) {
              // idx is zero based, increase by 1 to get one-based
              ele.value = (idx + 1).toString()
            }
          })
      }
      Sortable.create(tbody, {
        handle: 'td[id$="-ORDER"]',
        animation: 100,
        swapThreshold: .7,
        onUpdate: onSorted
      });
      recipe_formset.classList.add('sortable');

    } catch (error) {
      console.error(error)
      // We tried to initialize, but failed, no worries
    }
  })
</script>
{% endblock %}