{% if widget.value %}
<img src="{{ widget.value.url }}" alt="Uploaded image" class="img-thumbnail image-square-thumbnail-sm mx-auto d-block">
{% else %}
<div class="form-control custom-file{% if field.errors %} is-invalid{%endif%}" style="border:0">
    <input type="{{ widget.type }}" name="{{ widget.name }}"
        class="custom-file-input{% if field.errors %} is-invalid{%endif%}"
        {% if field.field.disabled %}disabled{% endif %}
        {% for name, value in widget.attrs.items %}{% if value is not False %}
        {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}" {% endif %}{% endif %}{% endfor %}>
    <label class="custom-file-label text-truncate" for="{{ widget.attrs.id }}">---</label>
</div>
{% include 'bootstrap4/layout/help_text_and_errors.html' %}
{% endif %}