{% extends 'skeleton.html' %}

{% load static %}
{% load i18n %}

{% block head %}
{{ block.super }}
<link rel="icon" href="{% static 'images/icon.svg' %}">
{% endblock %}

{% block title %}
Recepten{% if page_title %} - {{ page_title }}{% endif %}
{% endblock %}

{% block body %}

{% include 'navigation.html' %}

<div class="container py-2">
  {% block breadcrumb_container %}
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb bg-light">
      {% block breadcrumbs %}
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
      {% endblock %}
    </ol>
  </nav>
  {% endblock %}

  {% block content %}{% endblock %}
</div>

{% endblock %}