{% load i18n %}
{% load static %}

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/icon.svg' %}" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% with nav_template='snippets/navigation_item.html' %}
        <div class="navbar-group">
            <div class="navbar-group-title">{% translate 'Algemeen' %}</div>
            <ul class="navbar-nav">
                {% include nav_template with url_name='recipes:product-list' title='Producten' %}
                {% include nav_template with url_name='recipes:recipe-list' title='Recepten' %}
                {% include nav_template with url_name='recipes:session-list' title='Sessies' %}
            </ul>
        </div>
        <div class="navbar-group">
            <div class="navbar-group-title">{% translate 'Zoet' %}</div>
            <ul class="navbar-nav">
                {% include nav_template with url_name='sweet:recipe-list' title='Recepten' %}
                {% include nav_template with url_name='sweet:session-list' title='Sessies' %}
            </ul>
        </div>
        <div class="navbar-group">
            <div class="navbar-group-title">{% translate 'Brood' %}</div>
            <ul class="navbar-nav">
                {% include nav_template with url_name='bread:recipe-list' title='Recepten' %}
                {% include nav_template with url_name='bread:session-list' title='Sessies' %}
            </ul>
        </div>

        <div class="navbar-group">
            <div class="navbar-group-title">{% translate 'Hartig' %}</div>
            <ul class="navbar-nav">
                {% include nav_template with url_name='savory:recipe-list' title='Recepten' %}
                {% include nav_template with url_name='savory:session-list' title='Sessies' %}
            </ul>
        </div>
        {% endwith %}
    </div>
</nav>