{% load frac_format %}

{% for ingredient in ingredients %}
{% if forloop.first %}
<table class="ingredient-table">
    {% endif %}
    <tr>
        {% with unit=ingredient.unit %}
        {% if not unit.no_quantity %}
        <td>
            {% if unit == 'g' %}
            {{ ingredient.amount|sigformat:"3" }}
            {% else %}
            {{ ingredient.amount|fractionformat_html:"-3" }}
            {% endif %}
        </td>
        <td>{{ unit.short_name }}</td>
        {% else %}
        <td colspan="2">{{ unit.short_name }}</td>
        {% endif %}

        <td><a class="link-unstyled" href="{{ ingredient.product.get_absolute_url }}">{{ ingredient.name }}</a></td>
        {% endwith %}
    </tr>
    {% if forloop.last %}
</table>
{% endif %}
{% endfor %}